@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: "Be Vietnam Pro", sans-serif;
}

.head{
    padding-top: 56px;
}

.container{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.head_block{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.head_logo{
    /* align-items: center; */
    width: 142px;
    height: 24px;
    margin-top: 8px;  
}

.head_list{
    gap: 32px;
    display: flex;
}

button{
border-radius: 22px;
font-weight: 700;
font-size: 13px;
padding: 12px 32px;
color: #fcf6f5;
background-color: #f3603c;
display: inline-block;
border: none;
}

.head_link{
font-weight: 500;
font-size: 13px;
color: #242d52;
}

/*hero*/

.hero{
    padding-top: 120px;
}

.hero_con{
    width: 456px;
}

.hero_title{
font-weight: 700;
font-size: 56px;
line-height: 114%;
letter-spacing: -0.02em;
color: #242d52;
margin-bottom: 16px;
}

.hero_text{
font-weight: 400;
font-size: 16px;
line-height: 162%;
width: 350px;
color: #242d52;
margin-bottom: 40px;
opacity: 0.5;
}

.hero_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*about*/

.about{
    padding-top: 132px;
}


.about_main_title{
font-weight: 700;
font-size: 40px;
line-height: 110%;
letter-spacing: -0.02em;
color: #242d52;
margin-bottom: 24px;
width: 445px;
}

.about_text{
font-weight: 400;
font-size: 16px;
line-height: 162%;
color: #242d52;
opacity: 0.5;
width: 350px;
}



.about_title{
font-weight: 700;
font-size: 16px;
letter-spacing: -0.02em;
color: #242d52;
margin-bottom: 19px;
}

.about_con{
    width: 445px;
}



.about_item{
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.about_item:not(:last-child){
    margin-bottom: 40px;
}


.about_content{
    display: flex;
    justify-content: space-between;
}

.num{
font-weight: 700;
font-size: 16px;
letter-spacing: -0.02em;
text-align: center;
color: #fff;
border-radius:39px;
padding: 6px 23px 10px 25px;
background-color: #f3603c;
display: inline-block;
}

/*comment*/

.comment{
    padding-top: 165px;
    padding-bottom: 161px;
}

.comment_main_title{
font-weight: 700;
font-size: 40px;
line-height: 110%;
letter-spacing: -0.02em;
text-align: center;
color: #242d52;
margin-bottom: 95px;
}

.comment_con{
    width: 540px;
    background-color: #fafafa;
    padding: 60px 40px 40px 40px;
}

.comment_title{
font-weight: 700;
font-size: 16px;
letter-spacing: -0.02em;
text-align: center;
color: #242d52;
margin-bottom: 19px;
}

.comment_text{
font-weight: 400;
font-size: 16px;
line-height: 162%;
text-align: center;
color: #242d52;
opacity: 0.5;
}

.comment_content{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.comment_but{
margin-top: 53px;
border-radius: 22px;
font-weight: 700;
font-size: 13px;
padding: 12px 32px;
color: #fcf6f5;
background-color: #f3603c;
}

.comment_but_block{
    text-align: center;
}


/*bottom_section*/

.bottom{
    background-image:url(/img/Rectangle\ Copy\ 19.png);
    background-color: #f3603c;
    padding: 62px 160px;
}

.bottom_title{
font-weight: 700;
font-size: 40px;
line-height: 110%;
letter-spacing: -0.02em;
color:#fff;
width: 456px;
}

.bottom_block{
display:flex;
align-items:center;
justify-content: space-between;
}

.button_b{
border-radius: 22px;
font-weight: 700;
font-size: 13px;
padding: 12px 32px;
color:#f3603c;
background-color:#fff;
}

/*end*/

.end{
    background-color:#1D1E25;
}


.end_content{
    padding: 62px 165px 62px 171px;
    display: flex;
    gap: 125px;
    justify-content: space-between;
}

.end_con_3{
    display: flex;
}

.end_socials{
    margin-top: 83px;
    display: flex;
    gap: 13px;
}

.end_text{
font-weight: 400;
font-size: 15px;
letter-spacing: -0.02em;
color: #fff;
}

.end_item:not(:last-child){
    margin-bottom: 13px;
}

.end_con_3{
    margin-left: 100px;
}